body  {
    background-image: url("../images/bgwebindex.jpg");
    margin: 0;
    font-family: Lucida Sans Unicode;

}


.container{
     width: 100%;
     overflow: auto;
     margin: 5px auto;
     font-family: Lucida Sans Regular;

}

.container-box{
    width: 90%;
    overflow: auto;
    margin:10px auto;
}
     

     
/*
start header
*/

.header {
    text-align: center ;
    font-family:Lucida Sans Regular;
    
}

.menu ul{
    font-size: 20px;
    background-color: white;
    margin: auto;
    padding :10px 0px 10px 0px;
    overflow: auto;
    text-align: center;
    font-family:Lucida;
}

.menu li {
    display: initial;
    margin-left: 40px;
}

.menu li a{
    color: rosybrown;
    text-decoration: none;
    
}

.menu li a:hover {
    color: white;
    background-color:rosybrown;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

/*end header*/

/*start spotlight*/
.spotlight {
    background-image: url("../images/lel.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    padding: 20px 0;
}   

.spotlight h1 {
    background: #dfa58f;
    width: 450px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
/* end spotlight */




/*start box 1*/




.col-1
{
    overflow: auto;
    background-color: white;
    color:rosybrown;
    padding:2px 0;
    
    
}

/* end box 1 */

/*start box 2*/
.col-2
{
    overflow: auto;
    background-color:rosybrown ;
    color: whiteo;
    padding:5px 0;

}

/* end box 2 */



/*start box 3*/
.col-3{
    overflow: auto;
    background-color: white;
    color: rosybrown;
    padding: 20px 0;
    text-align: center;
}

/* end box 3 */

.col-1, .col-2, .col-3
{
    
    width: 90%;
    float: left;
}

.col-1, .col-2, .col-3
{
    width :100%;
}
/*footer*/
.footer{
    overflow: auto;
    background-color: aquamarine;
    color: aliceblue;
}


.copyright{
color: rosybrown;
background-color: white;
text-align: center;
padding: 5px 0px 5px 0px;
}

/*end footer*/